@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
    color: white;
}

.flex-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.images {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50em;
    flex-wrap: wrap;
    min-height: 40em;
}

.logo {
    width: 15em;
    align-self: center;
    padding-top: 1em;
}

.illustration {
    width: 30em;
    font-size: 1.29em;
    align-self: flex-start;
}

.box-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    min-height: 40em;
    width: 36em;
    justify-content: center;
}

.text {
    width: 30em;
    font-size: 1.29em;
    align-self: flex-end;
}

h1 {
    font-family: 'Poppins', sans-serif;
    width: 11em;
}

p {
    opacity: 0.8;
    width: 28.5em;
}

ul {
    display: flex;
    width: 8em;
}

.face {
    width: 4em;
}

button {
    border: none;
    color: hsl(257, 40%, 49%);
    width: 10em;
    height: 2.5em;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.349);
}

button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.list-image {
    display: flex;
    justify-content: space-between;
    width: 15em;
    margin-left: 65%;
    align-self: center;
}

.facebook {
    width: 3em;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}

.facebook:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

.twitter2 {
    width: 3em;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}

.twitter2:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

.insta {
    width: 3em;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}

.insta:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 1380px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: cover;
        background-position: top;
        height: 50vh;
        width: 100%;
        position: unset;
    }
    .flex-box {
        flex-direction: column;
        justify-content: space-around;
        height: unset;
        align-items: center;
    }
    .images {
        flex-direction: column;
        width: 22.5em;
        margin-right: unset;
        min-height: unset;
    }
    .logo {
        margin-top: 2em;
        width: 10em;
        align-self: flex-start;
    }
    .illustration {
        margin-top: 2em;
        width: 17.5em;
    }
    .box-right {
        flex-direction: column;
        width: 22.5em;
        align-content: center;
        min-height: unset;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        text-align: center;
        width: 22em;
        font-size: 1em;
    }
    h1 {
        width: 90%;
        font-size: 1.5em;
    }
    p {
        width: 90%;
        font-size: 1.03em;
    }
    button {
        width: 13em;
        margin-top: 1em;
    }
    .list-image {
        margin-left: unset;
        align-self: center;
        margin-top: 8em;
        width: 8.5em;
    }
    .facebook {
        width: 2em;
        height: 2em;
    }
    .twitter2 {
        width: 2em;
        height: 2em;
    }
    .insta {
        width: 2em;
        height: 2em;
    }
}